
<div class="contact_grid_right mt-5 mx-auto text-center">
  <label class="btn-danger"> Yorumunuz incelendikten sonra yayınlancaktır</label>
    <form method="post" action="#">
        <input type="hidden" placeholder="İD" name="FilimID" value="@ViewBag.deger" required />
        @*<input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger"  required disabled />*@
        <input type="text" class="form-control" placeholder="Kullanıcı Adınız" name="KullanıcıAdı" required="" />
        <br /><br />
        <input type="email" class="form-control" placeholder="Mail Adresisiniz" name="Mail" required="" />
        <br /><br />
        <textarea placeholder="Mesajınız..." name="Yorum" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}"></textarea>
        <input type="submit" class="btn btn-warning" value="Gönder" />
        <input type="reset" class="btn btn-warning" value="Temizle" />
        <div class="clearfix"> </div>
    </form>
</div>

@*<div class="reply-section text-center">
    <div class="reply-section-head">
        <div class="reply-section-head-text">
            <h4 class="btn-danger">Yorumunuz incelendikten sonra yayınlancaktır</h4>
        </div>
    </div>
    <br />
    <div class="blog-form">
        <form>
            <input type="hidden" placeholder="İD" name="FilimID" value="@ViewBag.deger" required />
            <input type="text" class="text" value="Kullanıcı Adınız" name="KullanıcıAdı" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Name';}">
            <input type="text" class="text" value="Email Adresiniz Yayınlanmıcak" name="Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
            <textarea placeholder="Mesajınız..." name="Yorum" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}"></textarea>    
            <input type="submit" class="btn btn bg-warning" value="Gönder">
        </form>
    </div>
</div>*@